@charset "UTF-8";
body {
  background: #2F4051; }
  body a {
    color: #F8F5F9; }
  body h2 {
    color: #F8F5F9; }
  body a:active {
    color: #DF691A; }
  body a:visited {
    color: #DF691A; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.wrapper {
  width: 100%;
  margin: 1px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1rf);
  background: #2F4051;
  grid-template-areas: "mainh mainh mainh mainh mainh" "head  head  head  head head"  "lef   rat   rat   rat  rat" "lef  main  main  main  main"    "foo  foo   foo   foo   foo"; }

.mainheader {
  grid-area: mainh;
  background: #DF691A;
  margin: -10px;
  padding-left: 50px; }

.sitename {
  font-family: 'Fredoka One',cursive;
  font-size: 12px;
  font-weight: bold;
  color: #f8f5f9;
  padding: 30px 0 0 50px;
  text-align: left; }

.headmenu {
  grid-area: head;
  background: #DF691A;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 -10px 0 -10px; }

.ul_head li {
  display: inline;
  margin-left: 50px; }

.leftmenu {
  grid-area: lef;
  border-right: 2px solid #2A3947;
  border-bottom: 1px solid #2A3947;
  padding-right: 20px;
  background: #2F4051; }

.leftmenu li {
  text-decoration: underline;
  background: #2F4051;
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.ratingmenu {
  grid-area: rat;
  border-bottom: 1px solid #929E9E;
  padding: 20px;
  padding-left: 10px;
  font-size: 0.9em;
  text-align: left;
  background: #2F4051;
  font-family: "Helvetica","Arial",sans-serif; }

.ratingmenu p {
  margin-left: 37px;
  margin-bottom: 35px; }

.ul_rat li {
  display: inline;
  padding-right: 10px;
  color: #F8F5F9; }

.main_section {
  grid-area: main;
  background: #2F4051; }

.wrapper_main_1 {
  display: flex;
  flex-flow: row wrap;
  ‎justify-content: space-between; }

.wrapper_main_1 li {
  background: #4E5D6C;
  width: 200px;
  height: 320px;
  margin: 10px;
  border-radius: 2px; }

#top_menu_1 {
  margin-right: 20px;
  padding-top: 5px; }

.icons {
  display: block;
  text-align: right;
  margin-top: -50px;
  margin-right: 15px;
  height: 30px; }

.footer {
  grid-area: foo;
  background: #424242;
  height: 80px;
  /*text-align: right;*/
  vertical-align: baseline;
  padding: 60px 30px 0px 40px; }

.footer a {
  color: #929E9E; }

.contact {
  text-align: left; }

.lang {
  text-align: right; }

.lasttext {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #F8F5F9;
  max-width: 900px;
  padding: 140px 15px 80px 50px; }

.menu-toggle {
  background: #DF691A;
  border: 1px solid #DF691A;
  padding-right: 30px;
  text-align: left; }

.menu-toggle:before {
  content: "≡";
  content: "\2261";
  font: 2.3em "arial";
  color: #F8F5F9; }
