$main_color: #2F4051;
$color_header: #DF691A; 
$text_color_headr: #F8F5F9;
$text_color_left_nemu: #EBEBDC;
$text_coor_main_section: #E5EBEB;
$bacground_footer: #424242;

 body{
	background: $main_color;
		
	a{
		color: $text_color_headr;
	}
	h2{
		color: $text_color_headr;
	}
	a:active {
    color: $color_header; 
}
	a:visited {
    color: $color_header;
}
}

ul{
	list-style-type: none ;
}


a {
	text-decoration: none;
}
.wrapper {
	width: 100%;
    margin: 1px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(5, 1rf);
	background: $main_color;

grid-template-areas: "mainh mainh mainh mainh mainh"
                     "head  head  head  head head" 
                     "lef   rat   rat   rat  rat"
                     "lef  main  main  main  main"   
                     "foo  foo   foo   foo   foo";
                     
}
.mainheader{
	grid-area: mainh;
	background: $color_header;
	margin: -10px;
	padding-left: 50px;	
}

.sitename{
	font-family: 'Fredoka One',cursive;
    font-size: 12px;
    font-weight:bold;
    color: #f8f5f9;
    padding:30px 0 0 50px;
	text-align: left;
}

.headmenu{
	grid-area: head;
	background: $color_header;
	font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
	margin:0 -10px 0 -10px;
}

.ul_head li{
	display: inline;
	margin-left:  50px;
}

.leftmenu{
	grid-area: lef;
	border-right: 2px solid #2A3947;
	border-bottom: 1px solid #2A3947;
	padding-right: 20px;
	background: $main_color;
}

.leftmenu li{
	text-decoration: underline;
	background: $main_color;
	font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.ratingmenu{
	grid-area: rat;
	border-bottom: 1px solid #929E9E;
	padding: 20px;
	padding-left: 10px;
	font-size: 0.9em;
	text-align: left;
	background: $main_color;
	font-family: "Helvetica","Arial",sans-serif;
}
.ratingmenu p{margin-left: 37px; margin-bottom: 35px;}

.ul_rat li , {
	display: inline;
	padding-right: 10px;
	color: $text_color_headr;
}

.main_section{
	grid-area: main;
	background: $main_color;	
}

.wrapper_main_1{
	
	display: flex;
	flex-flow : row wrap;
	‎justify-content: space-between;
}

.wrapper_main_1 li {
	background: #4E5D6C;
	width: 200px;
	height: 320px;
	margin: 10px; 
	border-radius: 2px;
}

#top_menu_1{
margin-right: 20px;
padding-top: 5px;
}

#top_menu_2{

}

.icons{
	display: block;
	text-align: right;
	margin-top: -50px;
	margin-right: 15px;
	height: 30px;
}

.footer{
	grid-area: foo;
	background: $bacground_footer;
	height: 80px;
	/*text-align: right;*/
    vertical-align: baseline;
	padding:60px 30px 0px 40px;
}

.footer a{
	color: #929E9E;
}

.contact{
	text-align: left;
}

.lang{

	text-align: right;
}

.lasttext{
	font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $text_color_headr;
    max-width: 900px;
    padding:140px 15px 80px 50px;  
}
.menu-toggle{
	background: $color_header;
	border: 1px solid $color_header;
	padding-right: 30px;
	text-align: left;
}
.menu-toggle:before { 
 
  content: "≡";
  content: "\2261"; 
  font: 2.3em "arial";

  color: $text_color_headr;

}